[submodule "janus/superman"]
	path = janus/superman
	url = https://github.com/jez/vim-superman
[submodule "janus/python-mode"]
	path = janus/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "janus/vim-coffee-script"]
	path = janus/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "janus/vim-javascript"]
	path = janus/vim-javascript
	url = https://github.com/pangloss/vim-javascript.git
[submodule "janus/vim-ruby"]
	path = janus/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule "janus/yankring"]
	path = janus/yankring
	url = https://github.com/vim-scripts/YankRing.vim.git
[submodule "janus/vim-expand-region"]
	path = janus/vim-expand-region
	url = https://github.com/terryma/vim-expand-region
[submodule "janus/vim-markdown"]
	path = janus/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
[submodule "janus/vim-rails"]
	path = janus/vim-rails
	url = git://github.com/tpope/vim-rails.git
[submodule "janus/vim-rust"]
	path = janus/vim-rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "janus/vim-cython"]
	path = janus/vim-cython
	url = git@github.com:tshirtman/vim-cython.git
[submodule "janus/vim-gotham"]
	path = janus/vim-gotham
	url = https://github.com/whatyouhide/vim-gotham
[submodule "janus/wal.vim"]
	path = janus/wal.vim
	url = git@github.com:dylanaraps/wal.vim.git
